
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

section {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-family: 'Inter', sans-serif;
}

.bg-navy {
  background-color:#041536;
}

.bg-lilac {
  background-color:#B7A0EC;
}
